---
import Card from "../components/Card.astro";
import Grid from "../components/Grid.astro";
import LinkedIn from "../components/LinkedIn.astro";
import Layout from "../layouts/Layout.astro";
import Github from "../components/Github.astro";
import ThemeSwitch from "../components/ThemeSwitch.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import ContactMe from "../components/ContactMe.astro";

const colors = [
  {
    color: "#dfc4fe",
    size: "large",
    children: AboutMe,
  },
  {
    color: "#0A66C2",
    size: "small",
    children: LinkedIn,
  },
  {
    color: "var(--primary)",
    size: "small",
    children: Experience,
    company: 0,
  },
  {
    color: "var(--black)",
    size: "large",
    children: Github,
  },
  {
    color: "var(--primary)",
    size: "large",
    children: Experience,
    company: 1,
  },
  {
    color: "var(--green)",
    size: "small",
    children: ContactMe,
  },
  {
    color: "var(--primary)",
    size: "small",
    children: ThemeSwitch,
  },
];
---

<Layout
  title="Josema Cruz | Ingeniero de Software"
  description="Bienvenido al portfolio de Josema Cruz, un desarrollador front-end especializado en la creación de sitios web interactivos y aplicaciones web modernas. Explora mis proyectos recientes y conoce más sobre mis habilidades y experiencia."
>
  <main>
    <Grid>
      {
        colors.map((item, index) => (
          <Card
            backgroundColor={item.color}
            size={item.size}
            className={`item${index}`}
          >
            <item.children company={item.company} />
          </Card>
        ))
      }
    </Grid>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100vw;
    padding-bottom: 80px;
  }
</style>
