<article>
  <div>
    <img src="/memoji.webp" alt="Josema Cruz" />
    <p>
      I'm <strong>Josema Cruz</strong>,a telecommunications engineer specialized
      in telematics and passionate about web development.
    </p>
  </div>
  <p class="about-me-description">
    As a software engineer at <strong>Knowmad mood</strong>, I work for <strong
      >Openbank</strong
    >, one of the most innovative digital banks. I like to create attractive,
    functional and accessible user interfaces, using the latest technologies and
    best practices.
  </p>
</article>

<style>
  div {
    display: flex;
    align-content: center;
    align-items: center;
  }

  article {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    color: var(--black);
    text-align: left;
    overflow: hidden;
  }

  img {
    float: left;
    max-width: 200px;
    height: auto;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
    font-family: "Inter", sans-serif;

    &.about-me-description {
      margin-top: 1rem;
    }
  }

  strong {
    font-weight: 700;
    font-size: large;
  }
</style>
