---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article>
  <div>
    <img src="/memoji.webp" alt="Josema Cruz" />
    <p set:html={i18n.ABOUT_ME_FIRST} />
  </div>
  <p class="about-me-description" set:html={i18n.ABOUT_ME_SECOND} />
</article>

<style>
  article {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    color: var(--black);
    text-align: left;
    overflow: hidden;
  }
  div {
    display: flex;
    align-content: center;
    align-items: center;
  }

  img {
    float: left;
    max-width: 145px;
    margin: auto 8px;
  }
  @media screen and (max-width: 450px) {
    div {
      flex-direction: column;
    }
    img {
      margin-bottom: 1.5rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
    font-family: "Inter", sans-serif;

    &.about-me-description {
      margin-top: 1rem;
    }
  }
  strong {
    font-weight: 700;
    font-size: large;
  }
</style>
