<div>
  <h1>TTCode.<span>dev</span></h1>
  <span
    >¡Mantente informado de todas las novedas del mundo de la programación!</span
  >
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--secondary);
  }
  h1 span {
    font-size: 3rem;
    color: var(--red);
  }

  span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary);
  }
</style>
