<div class="basic-chip"><slot /></div>

<style>
  .basic-chip {
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-flex;
    margin: 5px;
    background-color: var(--chip-background);
    color: var(--chip-text);
  }
</style>
