---
import Chip from "./Chip.astro";
import KnowmadMood from "./icons/KnowmadMood.astro";
import Secmotic from "./icons/Secmotic.astro";
import { experience } from "../data/experience.ts";

const { company } = Astro.props;

const data = experience[company];
---

<article>
  <header>
    <span>{data.date}</span>
    <div>
      {company === 0 ? <KnowmadMood /> : <Secmotic />}
      <h2>{data.title}</h2>
    </div>
  </header>
  <main>
    <p>
      {data.description}
    </p>
  </main>
  <footer>
    {data.tags.map((item) => <Chip>{item}</Chip>)}
  </footer>
</article>

<style define:vars={{ color: data.color }}>
  article {
    margin: auto 1rem;
    padding-bottom: 2rem;
    color: var(--text-color);
    font-family: "Inter Variable", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  header {
    text-align: left;
  }

  header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 800;
  }
  span {
    background: var(--color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.8rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 1rem;
  }

  main {
    text-align: left;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
</style>
