---
import Chip from "@/components/Chip.astro";
import { experience } from "@/data/experience";
import { getI18N } from "@/i18n";

const { company } = Astro.props;
const currentCompany = experience[company as keyof typeof experience];

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article>
  <header>
    <span set:html={i18n.EXPERIENCE[company as keyof typeof experience].DATE} />
    <div>
      <currentCompany.logo />
      <h2>{i18n.EXPERIENCE[company as keyof typeof experience].TITLE}</h2>
    </div>
  </header>
  <main>
    <p
      set:html={i18n.EXPERIENCE[company as keyof typeof experience].DESCRIPTION}
    />
  </main>
  <footer>
    {currentCompany.tags.map((item: string) => <Chip>{item}</Chip>)}
  </footer>
</article>

<style define:vars={{ color: currentCompany.color }}>
  article {
    margin: auto 1rem;
    padding-bottom: 2rem;
    color: var(--text-color);
    font-family: "Inter Variable", sans-serif;
    display: flex;
    flex-direction: column;
  }

  header {
    text-align: left;
  }

  header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 800;
  }
  span {
    background: var(--color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.8rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 1rem;
  }

  main {
    text-align: left;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
</style>
