---
interface Props {
  url: string;
  className: string;
  width?: number;
}
const { url, className } = Astro.props;
---

<a
  class={className}
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label=`link to ${url}`
>
  <svg
    {...Astro.props}
    viewBox="0 0 24 24"
    transform="rotate(0)"
    aria-hidden="true"
    ><g>
      <path
        d="M7 17L17 7M17 7H8M17 7V16"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g></svg
  >
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
  }

  .primary {
    background-color: var(--primary);
    stroke: var(--secondary);
    border-radius: 50%;

    &:hover {
      stroke: var(--primary);
      background-color: var(--variable);
    }
  }

  .secondary {
    background-color: var(--secondary);
    stroke: var(--primary);
    border-radius: 50%;

    &:hover {
      stroke: var(--primary);
      background-color: var(--variable);
    }
  }
</style>
