---
import LanguageSelector from "./LanguageSelector.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<header>
  <div>
    <a
      href="https://github.com/josemacruz"
      target="_blank"
      aria-label="link to Github profile"
    >
      <Github width="30" height="30" fill="var(--secondary)" />
    </a>
    <a
      href="https://www.linkedin.com/in/josemacruz/"
      target="_blank"
      aria-label="link to Linkedin profile"
    >
      <LinkedIn width="30" height="30" fill="var(--secondary)" />
    </a>
    <LanguageSelector />
  </div>
  <h1 class="wrapper" aria-label="josemacruz.dev title">
    <div class="header">{"<josemacruz"}</div>
    <div class="dot">{"."}</div>
    <div class="header">{"dev/>"}</div>
  </h1>
</header>

<style>
  header {
    margin: 5rem 0;
    color: var(--secondary);
  }

  header > div {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    display: flex;
    align-items: center;

    & > a {
      margin-left: 0.5rem;
      &:hover {
        svg {
          g,
          path {
            fill: var(--variable);
          }
        }
      }
    }
  }
  h1 {
    font-size: clamp(25px, 4vw, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: "Fira Mono", sans-serif;
  }

  .dot {
    font-size: 2.4em;
    margin-bottom: clamp(20px, 4vw, 24px);
    letter-spacing: 0;
    color: var(--variable);
    letter-spacing: -12px;
    text-indent: -12px;
  }
</style>
